rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /trips/embrun-2027 {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null;
      allow delete: if false;
    }

    match /trips/embrun-2027/history/{entryId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
